<div id="chat-container">

    <div id="chat-window">
    
    </div>

    <div class="chat-input-container">
            <input type="text" placeholder="Escribe un mensaje..." name="message" id="chatBox" />
    </div>
</div>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>{{!-- instancio el script de socket io en el cliente --}}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>{{!-- script de Axios en el cliente --}}
<script src="/js/chat.js"></script>{{!-- mi js --}}