<div>
    <form id="login-form">
        <h2>Restaura tu contrase単a:</h2>

        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />
        </div>

        <div>
            <label for="password">Nueva contrase単a:</label>
            <input type="password" id="password" name="password" required />
        </div>

        <div>
            <label for="repassword">Nueva contrase単a nuevamente:</label>
            <input type="password" id="repassword" name="repassword" required />
        </div>

        <button id="forgot" type="submit">Restaurar contrase単a</button>
    </form>
</div>

<a href="/login"><button>Volver al LogIn</button></a>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="js/forgot.js"></script>