<div>
    <h3>Agregar producto nuevo:</h3>
    <form>
        <div>
            <label>Nombre:</label>
            <input type="text" id="title" />
        </div>
        <div>
            <label>Descripción:</label>
            <textarea id="description"></textarea>
        </div>
        <div>
            <label>Código:</label>
            <input type="text" id="code" />
        </div>
        <div>
            <label>Precio:</label>
            <input type="number" id="price" />
        </div>
        <div>
            <label>Stock:</label>
            <input type="number" id="stock" />
        </div>
        <div>
            <label>Categoría:</label>
            <input type="text" id="category" />
        </div>
        <div>
            <label>Link Imagen:</label>
            <input type="text" id="thumbnails" />
        </div>

    </form>
    <button id="addProductBtn">Agregar Producto</button>
    <h3>Borrar producto:</h3>
    <p>Copia y pega el ID del producto para borrarlo.</p>
    <form>
        <div>
            <label>ID producto:</label>
            <input type="text" id="product-delete" />
        </div>
    </form>
    <button id="deleteProductBtn">Borrar</button>
</div>

<div>
    <h1>Listado de productos usando WebSocket</h1>
    <section id="product-container">
        {{#each productos}}
        <div id="product-card">
            <p id="product-id">ID: {{this._id}}</p>
            <p id="product-title">Nombre: {{this.title}}</p>
            <p id="product-price">Precio: {{this.price}}</p>
            <p id="product-stock">Stock: {{this.stock}}</p>
            <br>
        </div>
        {{/each}}
    </section>
</div>


<script src="/socket.io/socket.io.js"></script>{{!-- instancio el script de socket io en el cliente --}}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>{{!-- script de Axios en el cliente --}}
<script src="/js/realTimeProducts.js"></script>{{!-- mi js --}}